#section {
  text-align: center;
  max-width: 100%;
  height: 96px;
  color: #fff;
  background-color: #FF0000;
}

.max-w-sm {
  max-width: 34%;
  margin: 2rem;
  box-shadow: none;
  border: 1px solid #000;
  border-radius: 0;
}

.max-w-sm img {
  height: 300px;
}

.font-bold, .flex.mb-2 {
  text-align: center;
}

.font-bold {
  text-transform: uppercase;
}

.flex.mb-2 {
  color: #a0aec0;
}

.px-6 .h-12 {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 3rem;
}